<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>CPB Rennes TT</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>   
    <ion-list>
      <ion-list-header>
        Mon espace
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
    
    <ion-list>
      <ion-list-header>
        Divers
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of diversMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
    
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="appVersion" >v{{ version }}</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>