<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="information-circle"></ion-icon> Actualit&eacute;s</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="sync"></ion-refresher-content>
	</ion-refresher>
	<ion-fab right bottom>
		<button ion-fab (click)="openModal()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<ion-card *ngFor="let news of listNews">
	  <ion-item text-wrap color="light">
	    <h3 ion-text color="primary" class="title">{{ news.title }}</h3>
	    <i class="item" ion-text color="secondary">{{ news.date | date: 'dd/MM/yyyy' }}</i>
	</ion-item>
	
	  <img *ngIf="news.image != null;" [src]="news.image">
	
	  <ion-card-content>
	    <p [ngClass]="{'item-expand active': isItemShown(news), 'item-expand inactive': !isItemShown(news)}" [innerHTML]="news.content"></p>
	  </ion-card-content>
	
	  <ion-row>
	    <ion-col>
	      <button  ion-button full clear large (click)="toggleNews(news)">
	        <ion-icon *ngIf="!isItemShown(news);" name="arrow-dropdown-circle"></ion-icon>
	        <ion-icon *ngIf="isItemShown(news);" name="arrow-dropup"></ion-icon>
	      </button>
	    </ion-col>
	  </ion-row>
	</ion-card>
</ion-content>
